django>=4.0.0 
djangorestframework>=3.13.0
PyMySQL==1.0.2
django-cors-headers==3.13.0
PyYAML == 6.0
dnspython == 2.2.1
sendgrid == 6.9.7
sqlalchemy == 1.4.39
dj_rest_auth == 2.2.5
django-allauth == 0.51.0
djoser == 2.1.0